* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  margin: auto;
  font-size: 1.6rem;
  font-family: "Source Han Sans", "Microsoft YaHei", Helvetica, Arial, sans-serif;
  max-width: 980px;
   }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

p {
  line-height: 1.5; }

a {
  text-decoration: none;
  color: #5badf0; }

.avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem; }
  .avatar img {
    padding-top: 1rem;
    border-radius: 50%; }

.info a {
  text-decoration: none; }

aside {
  width: 30%;
  display: inline-block;
  height: 100%;
  padding: .8rem;
  background: #fff;
  color: #000; }
  aside h4 {
    text-align: center;
    font-size: 1.2rem;
    background: #42b983;
    color: #fff;
    margin: 0 1rem;
    padding: .5rem 1rem; }
  aside ul {
    padding: 1.5rem 1rem; }
  aside p {
    padding: 1.5rem 1rem;
    margin: 0; }
  aside li {
    padding: .5rem; }

header {

  color: #5badf0;
  min-height: 8rem;
  position: relative; }
  header > p {
    position: absolute;
    top: 2rem;
    left: 2rem; }

.work li {
  padding: .5rem 0; }

section.project li {
  overflow: hidden; }
  section.project li h4.project-name {
    float: left;
    width: 9rem;
    background: #42b983;
    color: #fff;
    text-align: center;
    margin-top: 3px;
    border-radius: 3px;
    font-size: 1.2rem;
    padding: .5rem; }
  section.project li p.project-details {
    float: left;
    width: 70%;
    margin-left: 2rem;
    margin-top: 0; }



main {

  width: 50%;
  margin: auto;
  display: inline-block;
  overflow: hidden;
  padding: 2rem 1rem;
  background: #fff;
  /* create a line after heading */ }
  main h3 {
    margin-top: 0; }
  main > section {
    border-left: 2px solid #f33;
    padding-left: 3rem;
    margin-top: 2rem;
    position: relative;
    overflow: hidden; }
    main > section::before {
      content: '';
      display: block;
      width: 1rem;
      height: 1.5rem;
      border-radius: 50%;
      background: #f33;
      position: absolute;
      left: -.5rem; }
  main > section:first-child {
    margin-top: 0; }

.resume{
  width: 100%;
  margin: 100px 10px;
}
.archives{
  margin-top: 70px;
}
.article-row {
    width: 100%;
    float: left;
    position: relative;
    
    border-bottom: 1px solid #eee;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
.article-summary {
    width: 50%;
    float: left;
    margin-bottom: 30px;
    padding: 0 20px;
}
.article-summary .article-summary-inner .thumbnail {
    height: 0;
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    margin-bottom: 1em;
    padding-bottom: 47.11%;
}
.article-meta {
    height: 1.6em;
    line-height: 1.6em;
    overflow: hidden;
}

.article-title {
    text-decoration: none;
    font-size: 18px;
    letter-spacing: -1px;
    color: #555;
    line-height: 1.3em;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    transition: color 0.2s;
    margin: 0;
}

.article-excerpt {
    position: relative;
    color: #aaa;
    font-size: 16px;
    line-height: 1.6em;
    overflow: hidden;
    height: 6.4em;
}
.article-meta span{
    padding-right: 20px;
    color: #bbb;
}
.article-row img{
  width: 100%;
}
li.skill{
  display: inline-block;
  width: 50%;

}
span.skill_content{
  display: inline-block;
  width: 30%;
}
.meter{
  display: inline-block;
  height: 20px;
  position: relative;
  background: #555;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  box-shadow: inset 0 -1px 1px
  rgba(255,255,255,0.3);
  width: 60%;
  vertical-align: middle;
  margin: 10px;
}
.meter > span{
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
background-color: rgb(43,194,83);
background-image: linear-gradient(
center bottom,
rgb(43,194,83) 37%,
rgb(84,240,84) 69%);
box-shadow:
inset 0 2px 9px
rgba(255,255,255,0.3),
inset 0 -2px 6px rgba(0,0,0,0.4);
position: absolute;
overflow: hidden;
top: 0;
left: 0;
}
/*# sourceMappingURL=app.css.map */


